body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Krungthep";
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #131d5a;
    background-color: #FFFFFF;
    padding-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    padding-top: 0;
    display: inline;
    background-color: #FFFFFF;
    color: #131d5a;
    padding: 10px;
    text-align: center;
  }

  .section {
    padding: 5px;
  }